name: Documenter
concurrency:
  group: ${{ github.head_ref }}.documenter
  cancel-in-progress: true
on:
  push:
    branches:
      - main
    tags: [v*]
    paths-ignore:
      - 'LICENSE.md'
      - 'README.md'
      - 'examples/**'
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'LICENSE.md'
      - 'README.md'
      - 'examples/**'
jobs:
  Documenter:
    name: Documentation
    runs-on: ubuntu-20.04
    # Run on push's or non-draft PRs
    if: (github.event_name == 'push') || (github.event.pull_request.draft == false)
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: 1.8
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-docdeploy@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
